{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Schedule{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="table-responsive">
    <table id="schedule-table" class="table table-sm content">
      <thead class="table-dark">
        <tr>
          <th scope="col" class="col-1"><div class="cell-content">Mon</div></th>
          <th scope="col" class="col-1"><div class="cell-content">Tue</div></th>
          <th scope="col" class="col-1"><div class="cell-content">Wed</div></th>
          <th scope="col" class="col-1"><div class="cell-content">Thu</div></th>
          <th scope="col" class="col-1"><div class="cell-content">Fri</div></th>
          <th scope="col" class="col-1"><div class="cell-content">Sat</div></th>
          <th scope="col" class="col-1"><div class="cell-content">Sun</div></th>
        </tr>
      </thead>
      <tbody>
        {% set date_list = g.schedule.keys()|list %}
        {% set book_list = g.schedule.values()|list %}
        {% for i in range((date_list|length / 7)|round(method="ceil")|int) %}
          <tr>
            {% for j in range(7) %}
              {% set index = (i * 7) + j %}
              <td id={{ date_list[index] }} class="schedule-cell" data-booker="">
                <div class="cell-content">
                  <p class="cell-text">
                    {% if g.today == date_list[index] %}<strong>{% endif %}
                      {{ date_list[index].strftime('%d %b') }}
                    {% if g.today == date_list[index] %}</strong>{% endif %}
                  </p>
                </div>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="d-flex flex-row content">
    <div id="schedule-info" class="schedule-card card flex-fill">
      <div class="card-body">
        <div id="display-info">
          <h5 id="info-title" class="card-title">No date selected</h5>
          <p id="info-booker" class="card-text">Click or hover over a date to view more details</p>
          <button id="book-btn" type="button" class="btn btn-primary">Book</button>
          <button id="cancel-btn" type="button" class="btn btn-danger">Cancel</button>
        </div>
        <div id="display-blank">
          <h5 id="info-title" class="card-title">No date selected</h5>
          <p id="info-booker" class="card-text">Click or hover over a date to view more details</p>
        </div>
      </div>
    </div>
    <div id="schedule-upcoming" class="schedule-card card flex-fill">
      <div class="card-body">
        <h5 class="card-title">Upcoming</h5>
        <p id="upcoming-date" class="card-text">Date</p>
        <p id="upcoming-booker" class="card-text">Booker</p>
      </div>
    </div>
  </div>
{% endblock %}